footer {
    position: relative;
    margin: 0 auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#333;
    color: white;
    text-align: center;
    font: 100% arial;

}

a{
    color:  grey;
}