<!DOCTYPE html>
<html>
    <head>
        <div th:fragment="nav-css">
            <link rel="icon" type="image/png" th:href="@{/img/icon.png}">
            <link rel="stylesheet" th:href="@{/css/nav.css}" href="/css/nav.css">
        </div>
    </head>
<body>
    <div th:fragment="nav">
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </li>
      </ul>
    </div>

</body>
</html>